{% extends('base.html.twig') %}

 {% block stylesheets %}
     <link href="{{ asset('build/style.css') }}" rel="stylesheet" />
 {% endblock %}

{% block body %}
    <h1>Further Information</h1>

    <div>

    </div>

{%  endblock %}