{% extends('base.html.twig') %}

 {% block stylesheets %}
     <link href="{{ asset('build/style.css') }}" rel="stylesheet" />
 {% endblock %}

{% block body %}
    <h1>FOUND THINGS</h1>

    <div id="formstyle">
        {{ form_start(FoundPageForm) }}
        {{ form_widget(FoundPageForm) }}
        {{ form_end(FoundPageForm) }}
    </div>

    <div id="form-buttons">
        <button type="submit" class="pure-material-button-contained">Upload a picture</button>
        <button type="submit" class="pure-material-button-contained">Submit</button>
    </div>

{%  endblock %}