{% extends('base.html.twig') %}

 {% block stylesheets %}
     <link href="{{ asset('build/style.css') }}" rel="stylesheet" />
 {% endblock %}

{% block body %}
    <h1>Gefundene Gegenstände</h1>

    <div id="formstyle">
        {{ form_start(FoundPageForm) }}
            {{ form_widget(FoundPageForm) }}
        <button style="margin-top: 20px" type="submit" class="pure-material-button-contained">Submit</button>
        {{ form_end(FoundPageForm) }}
    </div>
{%  endblock %}